
<h3>Create Talent Pool</h3>
<form #myform="ngForm" (ngSubmit)="onSubmit(myform)" class="needs-validation" novalidate>
  <div class="form-row">
    <div class="col-md-4 mb-3">
      <label for="service.upsertTalentPool.Name">Name</label>
      <input class="form-control" name="Name" id="name" type="text" placeholder="Enter Talent-Pool name.." ngModel required>
    </div>
  </div>
  <div class="form-row">
    <div class="col-md-4 mb-3">
      <label for="service.upsertTalentPool.Code">Code</label>
      <input class="form-control" name="Code" id="code" type="text" placeholder="Enter Talent-Pool code.." ngModel required>
  </div>
</div>
  <input type="submit" value="Create" class="btn btn-primary">
</form>